/* Created by:Geogre, Khalil
* Created on: Mar 2024
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

body {
  background-color: #32a2e8;
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  padding-top: 5pt;
}

img {
  float: right;
  width: 40%;
}

h4 {
  color: white;
  font-family: Impact, Arial, Helvetica, sans-serif;
}